.diretor-header
	.header-title
		+font-size(78px)
		text-align: center
		text-transform: uppercase
		color: #fff
		font-weight: 800

.projeto
	+background(cover)
	text-align: center
	text-transform: uppercase
	color: #fff
	.projeto-title
		+font-size(78px)
		font-weight: 800
		+breakpoint($mobile)
			+font-size(60px)
	.projeto-empresa
		+font-size(35px)
		font-weight: bold

.about-diretor
	width: 100%
	color: #000
	text-align: center
	padding: 0px 90px
	+breakpoint($tablet)
		padding: 0px 20px
	.title
		+font-size(78px)
		font-weight: 800
		text-transform: uppercase
		padding-bottom: 30px
	.text
		font-weight: 600
		line-height: 2
		text-align: justify
		+breakpoint($tablet)
			font-weight: 400
			line-height: 1.4
			text-align: justify
	.div
		padding-bottom: 40px
		img
			width: inherit
			margin: 0 auto

.iframe
	height: 100vh
	background-color: #000
	position: fixed
	top: 0
	left: 0
	width: 100%
	display: none
	z-index: 1000
	.close-iframe
		position: fixed
		top: 133px
		right: 10px
		color: #fff
		padding: 7px
		background-color: #111a19
		border-radius: 6px
		&:hover
			background-color: #0093cb