.about
	padding: 60px 0px
	.inner
		text-transform: uppercase
		color: #000
		text-align: center
		+make(10,10,10)
		+make-offset(1,1,1)
		.title
			+font-size(78px)
			font-weight: 800
		.text
			font-weight: 600
			line-height: 2
			text-align: justify
		.subtitle
			+font-size(25px)
			font-weight: bold
			padding: 40px 0px
		.div
			padding-bottom: 40px
			img
				width: inherit
				margin: 0 auto
