.go-about
	&-item
		height: 100vh
	.inner
		+make(10,10,10)
		+make-offset(1,1,1)
		margin-left: 0 !important
		text-align: center
		+center
		color: #000
		text-transform: uppercase
		.title
			+font-size(78px)
			font-weight: 800
		.text
			font-weight: 600
			line-height: 2
			text-align: justify
		.subtitle
			+font-size(25px)
			font-weight: bold
			padding: 40px 0px
		.div
			padding-bottom: 40px
			img
				width: inherit
				margin: 0 auto
	&-image
		img
			width: 100%