.go-header
	position: absolute
	z-index: 1000
	width: 100%
	.inner
		margin: 0 auto
		width: 80%
		padding: 25px 0px
		font-weight: 200
		.go-lang
			text-align: right
			margin-top: -25px
			color: #fff
		.go-logo
			position: absolute
		.go-navbar
			ul
				list-style-type: none
				margin: 0
				text-align: center
				padding: 6px 0px
				li
					display: inline
					padding: 0px 15px
					text-transform: uppercase
					a
						color: #fff