.go-slider
	background-color: $color-1
	&-item
		+background(cover, center center, no-repeat)
		height: 60vh
		opacity: .2
	.inner
		+make(10,10,10)
		+make-offset(1,1,1)
		margin-left: 0 !important
		text-align: center
		+center
		color: #fff
		.title
			+font-size(39px)
	&-image
		img
			width: 100%